.credits-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  animation: appearAnnimation 2s forwards;
}

.credits-block
a {
  text-decoration: none;
  color: var(--font-color-primary);
}

.credits-block
a:hover {
  cursor: pointer;
  color: var(--font-color-hover);
}