.left-block {
  display: flex;
  flex-grow: 1;
  max-width: 5%;
  min-width: 5%;
  flex-direction: column;
  z-index: 2;
}

.left-block--bg {
  background: rgb(6, 23, 30, 0.2);
  backdrop-filter: blur(8px);
}

.left-block__logo {
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-grow: 1;
  max-height: 10%;
  justify-content: center;
  align-items: center;
}

.left-block__logo svg {
  color: var(--font-color-primary);
  font-size: clamp(0.5rem, 3.0vw, 3.0rem);
}

.left-block__socials {
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-height: 90%;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.left-block__socials 
svg {
  color: var(--font-color-primary);
  font-size: clamp(0.5rem, 2.0vw, 1.0rem);
}

.left-block__socials svg:hover,
.left-block__socials 
a:hover {
  color: var(--font-color-hover);
  cursor: pointer;
}

.left-block__socials 
a {
  color: var(--font-color-primary);
  text-decoration: none;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

@media only screen and (max-width: 844px) {
  .left-block {
    display: none;
  }
}

@media only screen and (orientation:portrait) {
  .left-block__logo {
    max-height: 5%;
  }
  .left-block__socials {
    max-height: 95%;
  }
}