.content-block {
  display: flex;
  flex-grow: 1;
  flex-direction: rows;
  max-width: 82%;
  color: var(--font-color-primary);
  animation: appearAnnimation 2s forwards;
}

.content-block__text {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  position: relative;
}

.content-block__text-title {
  position: absolute;
  top:0px;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  height: 30%;
  font-size: calc(1.5em + 7.0vmin);
  font-weight: 600;
  padding: 1rem;
}

.content-block__text-title p {
  border-bottom: 2px solid red;
}

.content-block__text-desc {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 70%;
  padding: 1rem;
  overflow-y: auto;
}

.content-block__text-desc 
p {
  text-indent: 5%;    
}

.content-block__text-desc 
span {
  margin-top: 0.5rem;
}

.content-block__text-desc 
span:hover {
  cursor: pointer;
  color: #a8a8a8;
}

.content-block__img {
  display: flex;
  flex-grow: 1;
  max-width: 50%;
  align-items:center;
}

.content-block__img img {
  position: absolute;
  max-height: 100%;
  width: 45%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px #000000);
}

@media only screen and (orientation:portrait) {
  .content-block {
    max-width: 100%;
  }
  .content-block__img {
    display: none;
  }
  .content-block__text {
    max-width: 100%;
    align-items: center;
  }
}