.navi-bar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.navi-bar--font {
  font-size: clamp(0.3rem, 1vw, 0.8rem);
  letter-spacing: 1px;
}

.navi-bar--bg {
  background: rgb(6, 23, 30, 0.2);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border-color);
}

.navi-bar 
ul {
  display: flex;
}

.navi-bar a {
  display: flex;
  align-items: center;
  height: 100%;
  margin-inline: clamp(0.6rem, 2vw, 1.5rem);
}

.navi-bar a:hover {
  border-bottom: 1px solid var(--font-color-primary);
}

.navi-bar a {
  color: var(--font-color-primary);
  text-decoration: none;
}

.navi-bar__hidden {
  display: none;
  align-items: center;
}

.navi-bar__hidden--menu svg:hover {
  color: var(--font-color-hover);
  cursor: pointer;
}

@media only screen and (max-width: 844px) {
  .navi-bar {
    justify-content: space-between;
  }
  .navi-bar a {
    display: none;
  }
  .navi-bar__hidden {
    display: flex;
  }
}