.modal-block {
  display: none;
  justify-content: flex-end;
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0,0.4);
  position: absolute;
  z-index: 3;
}

.modal-block--active {
  display: flex;
}

.modal-block__nav {
  width: 60%;
  height: 100vh;
  background: black;
  animation: showModalAnimation 0.5s;
}

.modal-block__nav 
header {
  display: flex;
  height: 8%;
  padding: 0.2rem;
  padding-top: clamp(0.3rem, 1.5vh, 2rem);
  justify-content: space-between;
/*   align-items: center; */
}

.modal-block__nav 
header 
span:hover {
  cursor: pointer;
  color: var(--font-color-hover);
}

.modal-block__nav 
nav {
  display: flex;
  flex-direction: column;
  height: 84%;
  justify-content: center;
  align-items: center; 
}

.modal-block__nav 
nav 
ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.modal-block__nav 
nav 
li {
  display: flex;
  flex-grow: 1;
  max-height: 10%;
  width: 100%;
  justify-content: center;
}

.modal-block__nav 
nav 
a {
  display:flex;
  align-items: center;
  justify-content:center;
  width: 90%;
  height: 100%;
  text-decoration: none;
  border-radius: 0.25rem;
  font-size: clamp(1rem, 3.0vh, 3rem);
  color: var(--font-color-primary);
}

.modal-block__nav >
nav 
a:hover {
  background: #383838;
}

.modal-block__nav 
footer {
  display: flex;
  height: 8%;
/*   padding: 0.2rem; */
  justify-content: center;
  align-items: center;
}

.modal-block__nav 
footer
nav
ul {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.modal-block__nav 
footer
nav
li {
  height: 100%;
}

.modal-block__nav 
footer
a
svg {
  color: var(--font-color-primary);
}

.modal-block__nav 
footer
a
svg:hover {
  cursor: pointer;
  color: var(--font-color-hover);
}

@keyframes showModalAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}