.footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.footer ul {
  display: flex;
}

.footer li {
  display: flex;
  align-items: center; 
}

.footer--bg {
  background: rgb(6, 23, 30, 0.2);
  border-top: 1px solid var(--border-color);
}

.footer svg {
  color: var(--font-color-primary);
  font-size: clamp(1rem, 1.5vw, 2.0rem);
}

.footer svg:hover,
.footer a:hover {
  color: var(--font-color-hover);
  cursor: pointer;
}

.footer
a {
  display: flex;
  justify-content: center;
  color: var(--font-color-primary);
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 1rem;
}