.container {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  min-width: 100vw;    
  box-shadow: -5px -4px 25px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.container--font {
  font-family: 'Red Hat Text', sans-serif;
  color: #d1d1d1;
}

.container--bg {
/*   background-color: black; */
  background-image: url(https://res.cloudinary.com/yaif/image/upload/e_brightness:-82/v1651579904/cool-geometric-triangular-figure-neon-laser-light-great-background_tcdrdq.jpg);
/*   background-image: url(https://res.cloudinary.com/yaif/image/upload/e_brightness:-86,o_100/v1654164900/2843425_n8wrnq.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
/*   opacity: 0.3; */
}

.container__main {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
}

.container__main-top {
  display: flex;
  flex-grow: 1;
  max-height: 10%;
}

.container__main-bottom {
  display: flex;
  flex-grow: 1;
  max-height: 90%;
}

.container__main-footer {
  display: none;
  flex-grow: 1;
  max-height: 5%;
}

@media only screen and (max-width: 844px) {
  .container__main-top {
    min-height: 5%;
  }
  .container__main-bottom {
    max-height: 87%;
  }
  .container__main-footer {
    display: flex; 
/*     max-height: 5%; */
  }
}
/* @media only screen and (max-width: 666px) { */
@media only screen and (orientation:portrait) {
/*   .container {
    flex-direction: column;
  } */
  .container__main-top {
    max-height: 5%;
  }
  .container__main-bottom {
    max-height: 95%;
  }
}

