.right-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 5%;
  min-width: 5%;
  position: relative;
  z-index: 2;
}

.right-block--bg {
  background: rgb(6, 23, 30, 0.2);
  border-left: 1px solid var(--border-color);
  backdrop-filter: blur(8px);
}

.right-block__menu {
  display: flex;
  flex-grow: 1;
  max-height: 10%;
  justify-content: center;
  align-items: center;
  
  border-bottom: 1px solid var(--border-color);  
}

.right-block__menu svg {
  color: var(--font-color-primary);
  font-size: clamp(0.8rem, 2.0vw, 1.5rem);
}

.right-block__btns {
  display: flex;
  flex-grow: 1;
  max-height: 90%;
}

.hero-btns {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.hero-btns div {
  display: flex;
  flex-grow: 1;
  max-height: 25%;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: clamp(0.4rem, 1.5vw, 1.0rem);
  color: var(--font-color-hover);
}

.hero-btns div:hover {
  cursor: pointer;
  background-image: linear-gradient(to top, rgb(255,0,0,0.6),rgb(255,0,0,0.0));
  border-radius: 0.1rem;
}

.hero-btn-activated {
  background-image: linear-gradient(to top, rgb(255,0,0,0.6),rgb(255,0,0,0.0));
  border-radius: 0.1rem;
}


@media only screen and (max-width: 844px) {
  .right-block {
    display:none;
  }
}

@media only screen and (orientation:portrait) {
  .right-block__menu {
    max-height: 5%;
  }
  .right-block__btns {
    max-height: 95%;
  }
}